<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/images.css">
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.2/mapbox-gl-geocoder.css" type="text/css">
    <div class="col-12 mb-5">
        <div id='map' style='height: 300px;'></div>
    </div>
    <div class="row">
        <div class="col-6 offset-3">
            <div class="d-flex justify-content-between mb-3">
                <h1 class="d-inline">Edit <%= placeName %></h1>
                <a href="/locations" class="btn btn-outline-info my-auto">Return</a>
            </div>
            <form action="/locations/<%= placeName %>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="area">Change Area of the Place:</label>
                    <input class="form-control" type="text" name="area" id="area" placeholder="Place Area" value="<%= placeData[0].area %>" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="place">Change Name of the Place:</label>
                    <input class="form-control" type="text" name="place" id="place" placeholder="Place Name" value="<%= placeData[0].place %>" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Change Image:</label>
                    <div class="form-file custom-file">
                          <input class="form-control custom-file-input" type="file" id="image" name="image" single onchange="previewSingle(event)">
                          <label for="image" class="form-label custom-file-label"></label>
                    </div>
                    <p>Location Image:</p>
                <div id="formFile"><img src="<%= placeData[0].image.url %>"></div>
                </div>
                <input type="text" name="boulders" id="boulders" style="display: none;" value="<%= placeData[0].boulders %>">
                <input type="hidden" name="geometry" id="geometryCoords"/>
                <button class="btn btn-primary w-100 mt-3 mb-5">Submit</button>
            </form>
        </div>
    </div>
<script>
    const mapBoxToken = '<%- process.env.MAPBOX_TOKEN %>'
    const place = <%- JSON.stringify(placeData[0]) %>
</script>

<script src="/javascripts/addSingleImage.js"></script>
<script src="/javascripts/editLocationMap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/geojson/0.5.0/geojson.min.js"></script>