<% layout('layouts/boilerplate') %>
<link rel="stylesheet" type="text/css" href="/stylesheets/images.css">
<div class="row">
    <div class="col-6 offset-3">
        <div class="d-flex justify-content-between mb-3">
            <h1 class="d-inline">Edit Routes</h1>
            <a href="/boulders/<%= placeName %>" class="btn btn-outline-info my-auto">Return</a>
        </div>
        <form action="/boulders/<%= placeName %>/<%= boulderData[0].name %>?_method=PUT" method="POST" class="validated-form" enctype="multipart/form-data" novalidate>
            <div class="border border-2 border-top border-bottom my-3 p-3">
                <div class="mb-3">
                    <label class="form-label" for="name">Change Name of the Route:</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Route Name" value="<%= boulderData[0].name %>" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="grade">Select a Grade:</label>
                    <select class="form-select" name="grade" id="grade">
                        <% for (let gradeNum of gradesNum) { %>
                            <option value="<%= gradeNum %>" <%= boulderData[0].grade === gradeNum?'selected':'' %>><%= gradeNum %></option>
                        <% } %>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Change Description of Route:</label>
                    <textarea type="text" class="form-control" name="description" id="description" placeholder="Description Text" required><%= boulderData[0].description %></textarea>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label">Add More Image(s)</label>
                    <div class="form-file custom-file">
                          <input class="form-control custom-file-input" type="file" id="image" name="image" multiple onchange="previewMultiple(event)">
                          <label for="image" class="form-label custom-file-label"></label>
                    </div>
                    <div id="formFile"></div>
                </div>
                <div class="mb-3">
                    <% boulderData[0].images.forEach((image, index) => { %>
                        <img src="<%= image.thumbnail %>" class="img-thumbnail" alt="">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= index %>" name="deleteImages[]" value="<%= image.filename %>">
                        </div>
                        <label for="image-<%= index %>">Delete</label>
                    <% }) %>
                </div>
            </div>
            <button class="btn btn-primary w-100 mt-3 mb-5">Submit</button>
        </form>
    </div>
</div>