<% layout('layouts/boilerplate') %>
    <h1>All Boulders in <%= placeName %>, <%= placeData[0].area %> </h1>
    <% console.log(placeData[0].boulders.length) %>
    <% if(placeData[0].boulders.length == 0) { %>
        <p>No boulders listed, please submit new route.</p>
    <% } else if(placeData[0].boulders) { %>
        <div class="row">
            <% for(boulder of placeData[0].boulders) { %>
                <div class="col-6 my-5">
                    <div class="card">
                        <img src="<%= boulder.image %>" class="card-img-top" alt="random boulder picture">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h3 class="card-title"><%= boulder.name %> [<a href="/grade/<%= boulder.grade %>"><%= boulder.grade %></a>]</h3>
                                <form action="/boulders/<%= placeName %>/<%= boulder.name %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-sm btn-outline-danger text-muted">Delete <%= boulder.name %></button>
                                </form>
                            </div>
                            <p class="card-text"><%= boulder.description %></p>
                        </div>
                    </div>
                </div>
                <div class="col-6 my-5">
                    <h5>Leave a Review:</h5>
                    <form class="validated-form" action="/boulders/<%= placeName %>/<%= boulder.name %>/review" method="POST" novalidate>
                        <div class="mb-3">
                            <label for="rating" class="form-label">Rating</label>
                            <input type="range" min="1" max="5" class="form-range" name="rating" id="rating">
                        </div>
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment</label>
                            <textarea class="form-control" placeholder="Comment on Route" name="comment" id="comment" cols="30" rows="5" required></textarea>
                        </div>
                        <div class="valid-feedback">Looks good!</div>
                        <button type="submit" class="btn btn-success">Submit Review</button>
                    </form>
                    <% const boulderReview = boulderReviews[`${boulder.name}`] %>
                    <% for (let review of boulderReview) { %>
                        <div class="card my-3">
                            <div class="card-body">
                                <div class="card-heading"><h5>Rating is: <%= review.rating %> </h5></div>
                                <div class="card-text"><p><%= review.comment %></p></div>
                                <form action="/boulders/<%= placeName %>/<%= boulder.name %>/review/<%= review._id %>?_method=DELETE" method="POST">
                                    <button type="submit" class="btn btn-sm btn-outline-danger text-muted">Delete Review</button>
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
                <hr>
            <% } %>
        </div>
    <% } %>
    <div class="d-flex py-5 justify-content-center">
        <a class="btn btn-outline-info mx-3" href="/locations">All Locations</a>
        <a class="btn btn-outline-primary mx-3" href="/boulders/<%= placeName %>/new">Create New Route</a>
        <a class="btn btn-outline-success mx-3" href="/boulders/<%= placeName %>/edit">Edit Routes</a>
    </div>